html,
body,
#board-div {
  width: 100%;
  height: 100%;
}

#board {
  display: block;
  margin: auto auto;
}

.empty-hexagon {
  fill: white;
}
.available-hexagon {
  fill: lightgray;
}
.queen-hexagon {
  fill: yellow;
}
.beetle-hexagon {
  fill: purple;
}
.grasshopper-hexagon {
  fill: green;
}
.spider-hexagon {
  fill: chocolate;
}
.ant-hexagon {
  fill: blue;
}
